<!DOCTYPE html>
<html lang="en">
  <head>
    <% includeFile("./components/head.ejs", it)%>
  </head>
  <body>
    <nav><% includeFile("./components/navbar.ejs", it) %></nav>
    <main><%~ it.body %></main>
    <footer><% includeFile("./components/footer.ejs", it) %></footer>
  </body>
</html>
