<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
  <div class="copyright">
    <p>&copy; 2021 <a href="https://valorankt.com" target="_blank">Valorankt</a> All Rights Reserved</p>
  </div>
</div>
<!--**********************************
            Footer end
        ***********************************-->
