<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png" />

<!-- PAGE TITLE HERE -->
<title>YTVVU | <%~ it.page.title %></title>

<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
<script src="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/js/tabler.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-flags.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-payments.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-vendors.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src="/js/main.bundle.js"></script>
