<!--**********************************
            Nav header start
        ***********************************-->
<div class="nav-header">
  <a href="/" class="brand-logo">
    <img class="logo-abbr" width="66" height="55" src="/images/logo.png" />
    <div class="brand-title">
      <h2 class="">Valorankt</h2>
      <span class="brand-sub-title">Admin Dashboard</span>
    </div>
  </a>
  <div class="nav-control">
    <div class="hamburger"><span class="line"></span><span class="line"></span><span class="line"></span></div>
  </div>
</div>
<!--**********************************
                    Nav header end
                ***********************************-->
